.container .content ~ p{
    color: aquamarine;
}
/*
*{
    margin: 0px;
}
ul li{
    display: inline-block;
    margin-right: 20px;
    text-transform: capitalize;
    padding: 2px;
    cursor: pointer;
}
ul li:hover{
    color: aqua;
}
*/